.calendar__hour {
    height: 60px;
    border-bottom: 1px solid #eee;
    position: relative;
    cursor: pointer;
  
    &__red-line {
      width: 100%;
      height: 1px;
      background-color: #f00;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
  
      &:before {
        content: "";
        content: "";
        top: -5px;
        left: -5px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #f00;
        position: absolute;
      }
    }
  }